<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap image slider</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Bootstrap image slider" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/pexelsexpectbest323780.jpg" alt="multi-family homes" title="multi-family homes" id="wows1_0"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><img src="data1/images/5f2733f57a4a5.jpg" alt="Residential Real Estate" title="Residential Real Estate" id="wows1_1"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><img src="data1/images/5f273810e5681.jpg" alt="Residential Real Estate" title="Residential Real Estate" id="wows1_2"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><img src="data1/images/5f27310082103.jpg" alt="Residential Real Estate" title="Residential Real Estate" id="wows1_3"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><img src="data1/images/architecture3383067.jpg" alt="multi-family homes" title="multi-family homes" id="wows1_4"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><a href="http://wowslider.net"><img src="data1/images/brianbabbxbwhrt87mq0unsplash.jpg" alt="wow slider" title="multi-family homes" id="wows1_5"/></a>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
		<li><img src="data1/images/condominium690086.jpg" alt="Residential Real Estate" title="Residential Real Estate" id="wows1_6"/>Locataire offers to prospective partners opportunities to invest in dozens of high-growth residential and commercial properties in the United States, and Canada.</li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="multi-family homes"><span><img src="data1/tooltips/pexelsexpectbest323780.jpg" alt="multi-family homes"/>1</span></a>
		<a href="#" title="Residential Real Estate"><span><img src="data1/tooltips/5f2733f57a4a5.jpg" alt="Residential Real Estate"/>2</span></a>
		<a href="#" title="Residential Real Estate"><span><img src="data1/tooltips/5f273810e5681.jpg" alt="Residential Real Estate"/>3</span></a>
		<a href="#" title="Residential Real Estate"><span><img src="data1/tooltips/5f27310082103.jpg" alt="Residential Real Estate"/>4</span></a>
		<a href="#" title="multi-family homes"><span><img src="data1/tooltips/architecture3383067.jpg" alt="multi-family homes"/>5</span></a>
		<a href="#" title="multi-family homes"><span><img src="data1/tooltips/brianbabbxbwhrt87mq0unsplash.jpg" alt="multi-family homes"/>6</span></a>
		<a href="#" title="Residential Real Estate"><span><img src="data1/tooltips/condominium690086.jpg" alt="Residential Real Estate"/>7</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">bootstrap image slider</a> by WOWSlider.com v9.0</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>